VITE_FIREBASE_API_KEY=AIzaSyBilyzk0jsnc3CHK8FKUj8_I7V_bGQeIic
VITE_FIREBASE_AUTH_DOMAIN=krish-project-254b4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=krish-project-254b4
VITE_FIREBASE_STORAGE_BUCKET=krish-project-254b4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=955349229985
VITE_FIREBASE_APP_ID=1:955349229985:web:bbb9acfa7d8bb229f9abe0